#notificationsFooter a{color:#333333;text-decoration:none}
#notificationsFooter a:hover{color:#006699;text-decoration:none}
#notificationsContainer {
	color: #121212;
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

	position: absolute;
	top: 30px;
	margin-left: -170px;
	width: 400px;
	z-index: 1000;
	display: none;
	font-size: 12px;
}
#notificationsContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid black;
	border-color: transparent transparent white;
	margin-top: -20px;
	margin-left: 188px;
}
#notificationsTitle {
	z-index: 1000;
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	background-color: #ffffff;
	width: 384px;
	border-bottom: 1px solid #dddddd;
}
#notificationsFooter {
	background-color: #F1F1FF;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	border-top: 1px solid #dddddd;
}
#notification_count {
    background: none repeat scroll 0 0 #cc0000;
    border-radius: 9px;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    margin-left: -5px;
    margin-top: -1px;
    padding: 1px 5px;
    position: absolute;
}
.notification-container {
	padding: 10px 15px;
	background-color: #FCFCFF
}
.notification-container:hover {
	background-color: #FFFFFF;
}
.notification-container.new {
	background-color: #F0F0FF;
}
.notification-container.new:hover {
	background-color: #FFFFFF;
}
#notificationsBody a {
	color: #121212;
	text-decoration: none;
	display: block;
	margin-right: 0;
	border-bottom: 1px solid #dedede;
	font-weight: normal;
	white-space: normal;
}
.notification-date {
	color: #628DB6;
	font-style: italic;
	font-size: 10px;
}
.notification-title {
	font-weight: bold;
	color: #3E5B76;
	font-size: 12px;
}
.notification-content {
	color: #666666;
	display:block;
	word-wrap: break-word;
	white-space: normal;
	font-size: 11px;
	padding-left: 10px;
}

a.view-notification {
	float: right;
}